/* foteer section *---*-*-*-*-*- */
.footer-1 {
    border-top: 3px solid var(--main3--color);
    transition: 0.4s;
  }

  .footer-1 hr {
    margin: 0px 40px;
    border: 2px solid wheat;
    background: wheat;
  }
  
  .main {
    background:var(--main--color);
    display: flex;
    flex-wrap: wrap;
    padding: 30px 100px;
    margin: 30px 50px;
    border-radius: 10px;
    box-shadow: 6px 6px 12px 0px#111115 ;
  }
  
  .footer-2{
    padding: 0px 0px;
  }
  
  .col {
    width: 25%;
  }
  
  .col h4 {
    margin-bottom: 25px;
    color: var(--text--color);
    font-size: 2rem;
    position: relative;
  }
  
  .col h4::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main2--color);
  }
  
  .col ul li:not(last-child) {
    margin-bottom: 15px;
  }
  
  .col ul li a {
    color: #9897a9;
    font-size: 1.7rem;
    /* display: block; */
    display: inline-block;
    text-transform: capitalize;
    transition: 0.4s;
  }
  
  .col ul li a:hover {
    color: var(--text--color);
    transform: translateX(-10px);
  }
  
  .col .social-1 {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .col .social-1 a {
    height: 40px;
    width: 40px;
    /* background: #061406; */
    background: rgba(0, 0, 0,0.8);
    color: var(--text--color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  .col .social-1 a:hover {
    transform: scale(1.2);
    color: var(--text--color);
    background: var(--main3--color);
  }
  .main .copyright{
    /* display: block; */
    width: 100%;
    padding-top: 44px;
    padding-right: 100px;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    color: #989789;  
  }
  .copyright p{
    font-size: 14px;
  }
  
  @media(max-width:1140px) {
    body {
        overflow-x: hidden;
      }
    .col {
      width: 50%;
      margin-bottom: 10px;
    }
  }
  
  @media (max-width:720px) {
    .main {
      padding: 10px 20px;
    }
    .col {
      width: 100%;
    }
  }
